{% extends "layout.html" %}
{% block body %}
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<style type="text/css">
	#loading{
	position:absolute;
	width:128px;
	height:128px;
	z-index:15;
	top:50%;
	left:40%;
	margin:-100px 0 0 -150px;
	-webkit-border-radius:30px;
	-moz-border-radius:30px;
	border: solid #595959 30px;
	background:url("{{ url_for('static', filename='loading.gif') }}") center center no-repeat;
	display: none;
}
</style>
<script type="text/javascript">



	$(function() {
		$( "#dialog" ).dialog({
			autoOpen: false,
			resizable: false,
			height: 600,
      		width: 600
		});

		var submit_form = function(e) {
			$("#loading").css("display", "block");
			$("#circle_button1").attr('type',"button");
			$("#circle_button2").attr('type',"button");
			$("#circle_button3").attr('type',"button");
			$("#circle_button4").attr('type',"button");
			$("#circle_button5").attr('type',"button");
			redirectIframe();
			$.get($SCRIPT_ROOT + '/_extractData', {
				url: $('input[name="url"]').val()
			}, function(data){
				temp = data;
				$.get($SCRIPT_ROOT + '/_predict', {
					data: temp
				}, function(result){
					console.log(result)
					if(result == "1.0"){
						$('#result').attr('src',"{{ url_for('static', filename='1.png') }}");
					}
					else if(result == "2.0"){
						$('#result').attr('src',"{{ url_for('static', filename='2.png') }}");
					}
					else if(result == "3.0"){
						$('#result').attr('src',"{{ url_for('static', filename='3.png') }}");
					}
					else if(result == "4.0"){
						$('#result').attr('src',"{{ url_for('static', filename='4.png') }}");
					}
					else if(result == "5.0"){
						$('#result').attr('src',"{{ url_for('static', filename='5.png') }}");
					}
					$("#loading").css("display", "none");
					$("#dialog").dialog("open");
				});
			});
			return false;
		};

		var redirectIframe = function(e) {
			$("#blogViewer").attr('src',$("#url").val());
		}

		var userFeedBack = function(e) {
			$("#dialog").dialog( "close" );
			$("#circle_button1").attr('type',"hidden");
			$("#circle_button2").attr('type',"hidden");
			$("#circle_button3").attr('type',"hidden");
			$("#circle_button4").attr('type',"hidden");
			$("#circle_button5").attr('type',"hidden");
			$.get($SCRIPT_ROOT + '/_addToDB', {
				user_score : $("#user_score").val(),
				data: temp
			}, function(result){
				$('#feedbackResult').text(result);
				// $("#dialog").dialog("close");
			});
			return false;
		};


		$( "#search" ).click(function() {
			console.log("click")
			submit_form();
		});

		$( "#circle_button1" ).click(function() {
			console.log("userscore : 1")
			$("#user_score").attr('value',"1");
			console.log($('input[name="user_score"]').val())
			userFeedBack();
		});
		$( "#circle_button2" ).click(function() {
			console.log("userscore : 2")
			$("#user_score").attr('value',"2");
			userFeedBack();
		});
		$( "#circle_button3" ).click(function() {
			console.log("userscore : 3")
			$("#user_score").attr('value',"3");
			userFeedBack();
		});
		$( "#circle_button4" ).click(function() {
			console.log("userscore : 4")
			$("#user_score").attr('value',"4");
			userFeedBack();
		});
		$( "#circle_button5" ).click(function() {
			console.log("userscore : 5")
			$("#user_score").attr('value',"5");
			userFeedBack();
		});

		// $('input[type=text]').bind('keydown', function(e) {
		// 	if (e.keyCode == 13) {
		// 		submit_form();
		// 	}
		// });

		$('input[name=url]').focus();
	})
</script>
<div id="loading"></div>
<div id="dialog" title="Ad-Score">
<br>
	<img src="{{ url_for('static', filename='1.png') }}" id="result" width="300px" height="300px"></br>
	<div id="ment">
		<br><br>당신이 판단한 광고 지수는?<br>
		(사용자의 피드백은 성능 개선에 도움이 됩니다.)<br><br>
	</div>
		<input type="hidden" id="user_score">
		<img src="{{ url_for('static', filename='1_big.png') }}" id="circle_button1">
		<img src="{{ url_for('static', filename='2_big.png') }}" id="circle_button2">
		<img src="{{ url_for('static', filename='3_big.png') }}" id="circle_button3">
		<img src="{{ url_for('static', filename='4_big.png') }}" id="circle_button4">
		<img src="{{ url_for('static', filename='5_big.png') }}" id="circle_button5">
		</br>
		<span id="feedbackResult"></span>
</div>
<table width="100%" height="100%" align="center">
	<tr>
		<th scope="row" width="70%" height="100%"><iframe id="blogViewer" src="/main" style="display: block; height: 99vh; width: 70vw;"></iframe></th>
		<th scope="row" width="30%" height="100%">
			<table width="90%" height="300px" align="center">
				<tr height="20px">
					<p id="title">Blog AD-Filter</p>
				</tr>
				<tr height="60px">
					<th scope="row" width="70%" height="100%"><input id="url" type="text" name="url" placeholder="url"></th>
					<th scope="row" width="30%" height="100%"<button id="search">Search</button></th>
				</tr>
				<tr height="220px">
					<th colspan="2"><br><br><img src="{{ url_for('static', filename='guide.png') }}" width="70%"></th>
				</tr>
			</table>
		</th>
	</tr>
</table>





{% endblock %}
