{% extends "layout.html" %}
{% block body %}
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<script type="text/javascript">
	var temp = 'temp'
	$(function() {
		$( "#dialog" ).dialog({
			autoOpen: false,
			resizable: false,
		});

		var submit_form = function(e) {
			$.get($SCRIPT_ROOT + '/_extractData', {
				url: $('input[name="url"]').val()
			}, function(data){
				temp = data;
				$.get($SCRIPT_ROOT + '/_predict', {
					data: temp
				}, function(result){
					$('#result').text(result);
					$("#dialog").dialog("open");
				});
			});
			return false;
		};

		var userFeedBack = function(e) {
			$.get($SCRIPT_ROOT + '/_addToDB', {
				user_score : $("#user_score").val(),
				data: temp
			}, function(result){
				$('#feedbackResult').text(result);
			});
			return false;
		};


		$( "#search" ).click(function() {
			console.log("click")
			submit_form();
		});

		$( "#circle_button1" ).click(function() {
			console.log("userscore : 1")
			$("#user_score").attr('value',"1");
			console.log($('input[name="user_score"]').val())
			userFeedBack();
		});
		$( "#circle_button2" ).click(function() {
			console.log("userscore : 2")
			$("#user_score").attr('value',"2");
			userFeedBack();
		});
		$( "#circle_button3" ).click(function() {
			console.log("userscore : 3")
			$("#user_score").attr('value',"3");
			userFeedBack();
		});
		$( "#circle_button4" ).click(function() {
			console.log("userscore : 4")
			$("#user_score").attr('value',"4");
			userFeedBack();
		});
		$( "#circle_button5" ).click(function() {
			console.log("userscore : 5")
			$("#user_score").attr('value',"5");
			userFeedBack();
		});

		// $('input[type=text]').bind('keydown', function(e) {
		// 	if (e.keyCode == 13) {
		// 		submit_form();
		// 	}
		// });

		$('input[name=url]').focus();
	})
</script>
<div id="dialog" title="결과">
	<span id="result"></span></br>
	<div>
		<p1>당신이 판단한 광고 지수는?</p1>
		<p2>(사용자의 피드백은 성능 개선에 도움이 됩니다.)</p2>
	</div>
		<input type="hidden" id="user_score">
		<input type="button" id="circle_button1">
		<input type="button" id="circle_button2">
		<input type="button" id="circle_button3">
		<input type="button" id="circle_button4">
		<input type="button" id="circle_button5"></br>
		<span id="feedbackResult"></span>
</div>
</br>
<p id="title"><b>Blog AD-Filter</b></p>
</br>
<dd> <input id="url" type="text" name="url" placeholder="url">
	<button id="search">Search</button>
</dd>


{% endblock %}
